.first-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../../assets/WhatsApp\ Image\ 2023-08-18\ at\ 17.54.41.png");
    background-position: center;
    background-size: 90rem 43rem;
    color: whitesmoke;
  
  .first-page-contain {
    width: 550px;
    display: flex;
    flex-direction: column;

  }
}
